body {

font-family: Tahoma, Arial;
background: linear-gradient(
135deg,
#1e3c72,
#2a5298
);

margin:0;
padding:20px;

color:white;

}


.container{

max-width:600px;
margin:auto;

}


.card{

background:white;
color:#333;

border-radius:20px;

padding:20px;

margin-top:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.2);

}


h1{

text-align:center;

}


.stat{

font-size:22px;

margin:10px;

}


button{

background:#ffb703;

border:none;

padding:12px 25px;

border-radius:30px;

font-size:18px;

cursor:pointer;

}


.progress{

height:20px;

background:#ddd;

border-radius:20px;

overflow:hidden;

}


.progress-bar{

height:100%;

background:#06d6a0;

width:0%;

}
